table {
	border: 1px solid black;
	width: 800px;
	border-collapse: collapse;
	background-color: blue;

}
.class {
	border: 1px solid black;
	width: 800px;
	border-collapse: collapse;
	background-color: green;

}