#page_header nav ul li{
	list-style: none;
}
a{
	text-decoration:  none;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	margin: 0 5px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #12aa21;
	font-size: 20px;
	color: #ffffff;
	font-family: arial , verdana , sans-serif;
}
a:link, a:visited
{
color:blue;
text-decoration:none;
}
 
a:hover
{
color:red;
font-weight:bold;
}
 
a:active
{
background:yellow;
}
.a{
	color: black;
}