#demo1{
	background-color: red;
	width: 30%;
	float: left;
	border: 1px solid blue;
	height: 100px;
	margin: 0 auto;
	font-size: 30px;	
	margin-bottom: 20px;
	border-radius: 20px;
	background-image: linear-gradient( to bottom, #ada , gray);
	box-shadow: 5px 8px 3px pink;
	background: url('ronaldo.png');
	background-size: contain;
	background-repeat: no-repeat;
	
}
#demo2{
	background-color: gray;
	width: 69%;
	float: left;
	border: 1px solid green;
	height: 100px;
	margin: 0 auto;
	font-size: 30px;
	margin-bottom: 20px;
	border-radius: 20px;
	background-image: linear-gradient( to bottom, #ada , blue);
	box-shadow: 5px 8px 3px pink;
	background: url('ronaldo.png');
	background-size: contain;
	background-repeat: no-repeat;

}
.demo3{
	background-color: yellow;
	border: 1px solid green;
	height: 100px;
	width: 69%;
	float: left;
	font-size: 30px;
	

}
.demo4{
	background-color: green;
	border: 1px solid gray;
	height: 100px;
	width: 30%;
	float: left;
	font-size: 30px;
	
}
