#demo1{
	height: 50px;
	width: 50;
	color: red;
	border: 5px solid blue;
	line-height: center;
	padding: 10px;
	margin: 10px;

}
#demo2{
	height: 50px;
	width: 50;
	color: red;
	border: 5px solid blue;
	line-height: center;
	padding: 10px;
	margin: 10px;

}
#demo3
{
	height: 50px;
	width: 50;
	color: red;
	border: 5px solid blue;
	line-height: center;
	padding: 10px;
	margin: 10px;
	background: green;

}#demo4
{
	height: 50px;
	width: 50;
	color: red;
	border: 5px solid blue;
	line-height: center;
	padding: 10px;
	margin: 10px;

}