#demo1{
	width:500px; 
	height:100px;
	border: 2px solid red;
	margin-bottom: 20px;
	border-radius: 20px;
	background-image: linear-gradient( to bottom, #ada , blue);
}
#demo2{
	width:500px; 
	height:500px;
	border: 2px solid blue;
	margin-bottom: 50px;
	border-radius: 50%;
	box-shadow: 5px 8px 3px pink;
	background: url('ronaldo.png');
	background-size: contain;
	background-repeat: no-repeat;
	align-self: center;

}